<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="color: #e9ecf2;">
  <%= link_to 'Evelyn\'s Portfolio', root_path, class:"navbar-brand" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    <% if user_signed_in? %>
      <li class="nav-item", style="font-size: 16px">
        <%= link_to 'Log out', destroy_user_session_path, method: :delete, class:"nav-link" %>
      </li>
      <% if current_user.email == "test@user1.com" %>
        <li class="nav-item", style="font-size: 16px">
          <%= link_to 'New Project', new_project_path, class:"nav-link" %>
        </li>
      <%end%>
    <% else %>
      <li class="nav-item", style="font-size: 16px">
        <%= link_to 'Log In', new_user_session_path, class:"nav-link" %>
      </li>
      <li class="nav-item", style="font-size: 16px">
        <%= link_to 'Sign Up', new_user_registration_path, class:"nav-link" %>
      </li>
    <% end %>
    </ul>
    <% if user_signed_in? %>
        <span class="navbar-text">
          Welcome <%= current_user.email %>
        </span>
    <%end%>
  </div>
</nav>