<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="color: #e9ecf2;">
  <%= link_to 'Evelyn\'s Portfolio', root_path, class:"navbar-brand" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to 'Log out', destroy_user_session_path, method: :delete, class:"nav-link" %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to 'Log In', new_user_session_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Sign Up', new_user_registration_path, class:"nav-link" %>
      </li>
    <% end %>

    <li class="nav-item">
      <%= link_to 'New Project', new_project_path, class:"nav-link" %>
    </li>
    </ul>
    <% if user_signed_in? %>
        <span class="navbar-text">
          Welcome <%= current_user.email %>.
        </span>
    <%end%>
  </div>
  <div class="jumbotron">
    <h1 class="display-4">Hello!</h1>
    <p class="lead">My name is Evelyn, I am a student at the University of Colorado Colorado Springs. Take a look at a few of my projects below!</p>
    <hr class="my-4">
  </div>
</nav>