<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table>
  <tbody>
  <div class="flexBox">
    <% @projects.each do |project| %>
      <div class="container2 containerWidth rounded">
            <h3><%= project.title %></h3>
            <%= project.description %>
            <br>
            <% if user_signed_in? %>
            <li class="button">
              <%= link_to 'Show', project %>
            </li>
            <li class="button">
              <%= link_to 'Edit', edit_project_path(project) %>
            </li>
            <li class="button">
              <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
            </li>
            <%end%>
      </div>
    <% end %>
    </div>
  </tbody>
</table>

<br>


