<p id="notice"><%= notice %></p>
<%= render 'projects/jumbotron' %>
<h1 style="text-align:center;">Projects</h1>
<br>
<table>
  <tbody>
  <div class="flexBox">
    <% @projects.each do |project| %>
      <div class="container2 containerWidth rounded">
            <h3><%= project.title %></h3>
            <%= project.description %>
            <br>
            <% if user_signed_in? %>
            <li class="button-60">
              <%= link_to 'Show', project %>
            </li>
            
            
            <%end%>
      </div>
    <% end %>
    </div>
  </tbody>
</table>

<br>


