<%= render 'projects/jumbotron' %>
<p id="notice"><%= notice %></p>
<h1 style="text-align:center;">Projects</h1>
<br>



  <div class="flexBox">
    <% @projects.each do |project| %>
      <div class="container2 containerWidth rounded">
            <h4 style="text-align:center;"><%= project.title %></h4>
            <p style="text-align:center;"><%= project.description %></p>
            <br>
            <% if user_signed_in? %>
            <div class="text-center">
              <li class="button-60", style="text-center;">
                <%= link_to 'Show', project %>
              </li>
            </div>
            <%end%>
      </div>
    <% end %>
    </div>



<br>


