<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<li class="button-60">
  <%= link_to 'Edit', edit_project_path(@project) %>
</li>
<li class="button-60">
  <%= link_to 'Back', projects_path %>
</li>
<li class="button-60">
  <%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
</li>