<p id="notice"><%= notice %></p>

<h3 style="text-align:center;"><%= @project.title %></h3>

<p style="text-align:center;">
  <%= @project.description %>
</p>

<div class="container">
	<div class="text-center">
    <li class="button-60", class="text-center">
      <%= link_to 'Edit', edit_project_path(@project) %>
    </li>
    <li class="button-60", class="text-center">
      <%= link_to 'Back', projects_path %>
    </li>
    <li class="button-60", class="text-center">
      <%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
	</div>
</div>
