<!DOCTYPE html>
<html>
  <head>
  <%= render 'projects/header' %>
    <title>AppName</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <div class="jumbotron">
    <h1 class="display-4">Hello!</h1>
    <p class="lead">My name is Evelyn, I am a student at the University of Colorado Colorado Springs. Take a look at a few of my projects below!</p>
    <hr class="my-4">
  </div>
  <%= yield %>
  </body>
</html>
